.banner {
    display: block;
    font-size: xx-large;
}

.container {
    position: absolute;
}

.info {
    display: block;
    font-weight: bold;
}

.info-error {
    color: red;
}

.old {
    display: block;
    color: gray;
}

.question, .answer {
    position: absolute;
}