.banner {
    display: block;
    font-size: xx-large;
}

.container {
    position: absolute;
}

.info {
    display: block;
    font-weight: bold;
}

.info-error {
    color: red;
}

.old {
    display: block;
    color: gray;
}

#question, #answer {
    position: absolute;
}

ul {
    list-style: none;
}

.questionPosition {
    display: block;
    font-weight: bold;
}

.answerPosition {
    display: block;
    margin-bottom: 10px;
}